<div class="container mt-4">
    <div class="mb-4">
        <h3 class="text-center text-primary mb-3">Toptancı İşlemleri</h3>
        <div class="row">
            <button type="button" routerLink="/add-wholesaler" class="btn btn-outline-primary mb-2">
                Toptancı Ekle
            </button>
        </div>
        <div class="row">
            <button type="button" routerLink="/list-wholesalers" class="btn btn-outline-primary mb-2">
                Toptancıları Listele
            </button>
        </div>
    </div>
    <div>
        <h3 class="text-center text-secondary mb-3">Müşteri İşlemleri</h3>
        <div class="row">
            <button type="button" class="btn btn-outline-secondary mb-2">
                Müşteri Ekle
            </button>
        </div>
        <div class="row">
            <button type="button" class="btn btn-outline-secondary mb-2">
                Müşterileri Listele
            </button>
        </div>
    </div>
</div>