<div class="form container mt-4">
    <h1 class="mb-4 text-center text-primary">Giriş Yap</h1>
    <div class="mb-3">
        <label for="inputEmail" class="form-label text-primary">Email adresiniz :</label>
        <input type="email" [(ngModel)]="loginTradesmanRequest.email" class="form-control" 
            id="inputEmail" placeholder="isim@epostasaglayici.com">
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label text-primary">Şifreniz :</label>
        <input type="password" [(ngModel)]="loginTradesmanRequest.password" class="form-control" 
            id="inputPassword">
    </div>
    <button type="button" [routerLink]="[getLink()]" class="btn btn-primary" (click)="postLogin()">
        Gönder
    </button>
</div>

<div *ngIf="clickedButton && !dataResult.success">
    <h2 class="text-danger text-center">
        Emaili veya şifreyi hatalı girdiniz!
    </h2>
</div>